@import "@styles/variable.module.scss";
@import "@styles/mixin.module.scss";

.container {
    padding-top: 84px;

    .functionBox {
        @include flex_box_custom(space-between, center, 0);
        color: $secondary_color;
        font-size: 14px;
        font-weight: 300;
    }
}

.shop {
    color: black;
    font-weight: 400;
}
.back {
    cursor: pointer;
}

.containerBanner {
    background-image: url("https://xstore.8theme.com/elementor2/marseille04/wp-content/uploads/sites/2/2022/12/Background.jpeg");
    height: 279px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.contentBox {
    @include flex_box_custom(center, center, 20px);
    flex-direction: column;
    padding: 60px 0px;

    .countdownBox {
    @include flex_box_custom(center, center, 10px);
    }

     .countdownBox > span {
        margin-top: 0px;
        border: 1px solid #E1E1E1;
     }

    .title {
        font-size: 28px;
        color: $four_color;
        font-size: 400;
    }
    .boxBtn {
        width: 160px;
    }
}

.containerFilter {
    @include flex_box_custom(space-between, center,0px);
    margin-top: 15px;
    .boxLeft {
        @include flex_box_custom(center, center, 20px)
    }
    .boxRight {
        @include flex_box_custom(center, center, 20px)

    }

    .boxIcon {
        @include flex_box_custom(center, center, 10px)
    }

    .selectBox{
        border: 1px solid #e1e1e1;
        padding: 5px;
        color: $secondary_color;
    }

    .selectBox.sort {
        width: 275px;
    }

    .selectBox.show {
        width: 83px;
    }
}

.containerProduct {
    @include flex_box_custom(center, flex-start, 10px);
    flex-wrap: wrap;
    margin-top: 40px;
}

.sectionListProduct {
    min-height: 800px;
}
