@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    @include flex_box_custom(center,center,0px);
    left: 0;
    right: 0;
    position: absolute;
    

}

.topHeader {
    @include flex_box_custom(center,center,0px);

  
    top: 0;
}

.fixedHeader {
    position: fixed;
    top: -83px;
    background-color: #FFFFFFE6;
    box-shadow: 2px 0 12px 0 rgba(0, 0, 0, .15);
    backdrop-filter: blur(5px);
    z-index: 100;
    transform: translateY(83px);
    transition: transform 0.4s ease;
}

.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 85px;
    width: 1400px;
    margin: 0 auto;
  
}

.containerBoxIcon {
    @include flex_box_custom(center,center,20px);
    &:hover {
        cursor: pointer;
    }
}
.containerMenu {
    @include flex_box_custom(center,center,40px)

}

.containerBox {
    @include flex_box_custom(center,center,20px)

}

.boxIcon {
    @include radius_common(50%);
    @include flex_box_custom(center, center, 0px);
    background-color: $primary_color;
    width: 26px;
    height: 26px;
    // filter: brightness(0) invert(1);

}

.menu {
    cursor: pointer;
    padding-top: 10px;
    font-size: 15px;
    color: $primary_color;
    position: relative;
    
    .subMenu {
        position: absolute;
        background-color: #fff;
        width: 100%;
        padding: 10px;
        top: 40px;
    }
}
.boxIcon img {
    filter: invert(1); 
    // background-color:  $white_color;
}

.menu::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $primary_color;
    opacity: 0;
    margin-top: 5px;
    transform-origin: right;
    transform: scale(0);
    transition: transform 400ms , opacity 500ms;
}

.menu:hover::after {
    transform: scale(1);
    opacity: 1;
}

.boxCart {
    position: relative;

    .quantity {
        position: absolute;
        top: -5px;
        right: -9px;
        background-color: $primary_color;
        font-size: 10px;
        color: #fff;
        @include radius_common(50%);
        width: 15px;
        height: 15px;
        @include flex_box_custom(center, center,0px)
    }
}