
@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {

    @include flex_box_custom(center, center, 1px);
    flex-direction: column;
    background-color: #363636;
    margin-top: 100px;
    color: $white_color;
    padding: 50px;
}

.boxNav {
    @include flex_box_custom(center, center,40px);
    margin-top: 25px;
    font-size: 15px;

    :hover {
        opacity: 0.3;
        cursor: pointer;
    }
    
}